@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Rubik:wght@300;400;500&display=swap');/* Mobile */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color:#333;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
}
body{
    min-height: 100%;
    background: white;
}
nav{
    position: fixed;
    top: 0px;
    left: 0;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
nav .logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
}
.logo .menu-icon{
    color: #333;
    font-size: 24px;
    margin-top: 2px;
    margin-right: 14px;
    cursor: pointer;
}
.logo .logo-name{
    color: #333;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}
nav .sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}
nav.open .sidebar{
    left: 0;
}
.sidebar .sidebar-content{
    padding: 30px 16px;
}
.sidebar-content .list{
    list-style: none;
}
.list .nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
}
.nav-link:hover{
    background-color: #b6b6b6;
}
.nav-link .icon{
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}
.nav-link .icon2{
    margin-right: 20px;
    margin-left: 4px;
    font-size: 10px;
    color: #707070;
}
.nav-link .link{
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}
.nav-link:hover .icon,
.nav-link:hover .link{
    color: #fff;
}
.overlay{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
nav.open ~ .overlay{
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}
.contacts{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
.contacts .contacts-info{
    padding-right: 16px;
}
.welcome{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-top: 150px;
    margin-bottom: 90px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 10px;
    margin: 70px 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    justify-content: flex-start;
    align-items: center;
}
.container .card{
    padding: 10px;
    width: 300px;
    background-color: #e08c0f23;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}
.container img{
    max-width:100%;
    min-width:100%;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;
}
.card .content{
    padding-top: 2px;
    font-size:16px;
}

/* POPUP */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    visibility: hidden;
    background: #fff;
    width: 300px;
    border-radius: 6px;
    padding: 8px 0;
    text-align: center;
    z-index: 1;
  }
  
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* Small tablet menu */
@media all and (min-width:425px){
    .welcome{
        margin-top: 100px;
        margin-bottom: 0px;
    }
    .container{
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: center;
       align-items: flex-start;
       padding: 0px 5px;
    }
    .container img{
        width: 180px;
        height: 160px;
    }
    .container .card{
        width: 185px;
        margin: 6px;
    }
    .card .content{
        font-size:10px;
    }
    .contacts{
        display: flex;
    }
}

/* Tablet */
@media all and (min-width:485px){
    .welcome{
        margin-top: 100px;
        margin-bottom: 0px;
    }
    .container{
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-around;
       align-items: flex-start;
       padding: 0px 10px;
       margin-top: 40px;
    }
    .container img{
        width: 180px;
        height: 180px;
    }
    .container .card{
        width: 200px;
        margin: 12px;
    }
    .card .content{
        font-size:10px;
    }
    .contacts{
        display: flex;
    }
}

/* Desktop menu */
@media all and (min-width:860px){
    .welcome{
        margin-top: 100px;
        margin-bottom: 0px;
        padding: 0px 90px;
        font-size: 18px;
    }
    .container{
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: center;
       align-items: flex-start;
    }
    .container img{
        width: 350px;
        height: 350px;
    }
    .container .card{
        margin: 20px;
        width: 350px;
    }
    .card .content{
        font-size:16px;
    }
    .contacts{
        display: flex;
    }
}
@media all and (max-width:571px){
    .contacts{
    display: none;
    }
}